<link rel="import" href="polymer/polymer.html">

<polymer-element name="demo-list" attributes="show">
  <template>
    <style>
      .card {
        display: block;
        position: relative;
        margin: 10px 5px;
        border: 5px solid #e0e0e0;
        /*width: calc((100% - 360px) / 2);*/
      }

      .footer {
        position: relative;
      }

      .bar {
        min-height: 5px;
      }

      core-icon-button {
        position: absolute;
        right: 10px;
        top: 5px;
      }

      .purple {

      }

      .yellow {

      }

      .blue {

      }

      .green {
        background-color: #b9f6ca;
      }

      .green .bar {
        background-color: #1de9b6
      }

      .gray {
        background-color: #f5f5f5;
      }

      .gray .footer {
        background-color: #999;
        color: #ffffff;
      }

      .gray .bar {
        background-color: #212121;
      }
    </style>
    <div class="container" flex auto>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
      <div class="card">
        <h2>Collaborative String</h2>
        <div class="footer">
          <div class="bar"></div>
          <div class="text">
            See The Code
          </div>
          <core-icon-button
            id="favicon"
            icon="favorite"
            on-tap="{{seeCode}}">
          </core-icon-button>
        </div>
      </div>
    </div>

  </template>
  <script>
    console.log('running demo list script...');
      Polymer({});
  </script>
</polymer-element>