<link rel="import" href="../polymer/polymer.html">

<polymer-element name="demo-card" attributes="title color description codeView">
  <template>
  <style>
    :host {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 25px;
      background-color: #ffffff;
      display: block;
    }

    .title {
      font-size: 20px;
      padding: 20px;
    }

    .blue {
      color: white;
      background-color: #5677fc;
    }

    .purple {
      color: white;
      background-color: #673ab7;
    }

    .green {
      color: white;
      background-color: #259b24;
    }

    .red {
      color: white;
      background-color: #9c27b0;
    }

    .yellow {
      background-color: #ffeb3b;
    }

    .content {
      padding: 20px;
    }

    .content p {
      font-weight: 100;
    }

    .code-button {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .code-button core-icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

  </style>
    <div class="container">
      <paper-shadow z="1"></paper-shadow>
      <div class="title {{ color }}">
        {{ title }}
        <template if="{{ codeView }}">
          <div class="code-button" on-click="seeCode">
            <core-tooltip className="custom-code" label="See Code">
              <core-icon icon="developer-mode-tv"></core-icon>
            </core-tooltip>
          </div>
        </template>
      </div>
      <div class="content">
        <p>{{ description }}</p>
        <content></content>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      seeCode: function () {
        console.log('lets see some code');
      }

    });
  </script>
</polymer-element>