<link rel="import" href="../polymer/polymer.html">

<polymer-element name="demo-card" attributes="id title color description codeView">
  <template>
  <style>
    

    core-animated-pages {
      /*width: 100%;
      height: 100%;*/

    }

  </style>
    <div class="outer">
      <core-animated-pages id="demoCard" selected="{{page}}" transitions="hero-transition" on-core-animated-pages-transition-end="{{complete}}">
        <section>
          
        </section>
        
      </core-animated-pages>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        // this.$.demoCard.selected = 0;
      },
      seeCode: function () {
        this.$.demoCard.selected = 1;
      },

      back: function () {
        this.$.demoCard.selected = 0;
      }
    });
  </script>
</polymer-element>