<link rel="import" href="../polymer/polymer.html">
<link href="../core-animated-pages/core-animated-pages.html" rel="import">
<link href="../core-drawer-panel/core-drawer-panel.html" rel="import">
<link href="../paper-radio-group/paper-radio-group.html" rel="import">
<link href="../paper-radio-button/paper-radio-button.html" rel="import">
<link href="../paper-shadow/paper-shadow.html" rel="import">
<link href="demo-card.html" rel="import">
<link href="event-card.html" rel="import">
<link href="collaborator-element.html" rel="import">
<link href="../core-icon-button/core-icon-button.html" rel="import">
<link href="../core-animated-pages/core-animated-pages.html" rel="import">
<link href="../core-animated-pages/transitions/list-cascade.html" rel="import">
<link href="../core-animated-pages/transitions/cross-fade.html" rel="import">
<link href="../core-animated-pages/transitions/slide-up.html" rel="import">
<link href="../core-tooltip/core-tooltip.html" rel="import">

<polymer-element name="realtime-demos" attributes="document documentTitle documentId">
  <template>
    <link href="realtime-demos.css" rel="stylesheet">
    <app-globals id="globals"></app-globals>
    <core-ajax
            id="driveFileMetadataRequest"
            url="https://www.googleapis.com/drive/v2/files/{{ documentId }}"
            params='{}'
            handleAs="json"
            on-core-response="{{handleResponse}}"></core-ajax>
        <core-drawer-panel>
            <div drawer class="drawer">
              <core-animated-pages id="drawer" selected="{{ page }}" transitions="cross-fade list-cascade" on-core-animated-pages-transition-end="{{complete}}">
                <section></section>
                <section>
                  <div list-cascade>
                    <div class="controls">
                      <div class="drawer-title">Controls</div>
                      <div class="controls-container">
                        <core-tooltip label="Back">
                          <core-icon-button icon="arrow-back" on-click="{{ back }}"></core-icon-button>
                        </core-tooltip>
                        <core-tooltip label="Open in new tab" className="no-left">
                          <core-icon-button icon="open-in-new" on-click="{{ openInNewTab }}"></core-icon-button>
                        </core-tooltip>
                        <core-tooltip label="Share">
                          <core-icon-button icon="account-child" on-click="{{ share }}"></core-icon-button>
                        </core-tooltip>
                        <core-tooltip label="Undo">
                          <core-icon-button icon="rotate-left" disabled?="{{ canUndo == false }}" on-click="{{ undo }}"></core-icon-button>
                        </core-tooltip>
                        <core-tooltip label="Redo">
                          <core-icon-button icon="rotate-right" disabled?="{{ canRedo == false }}" on-click="{{ redo }}"></core-icon-button>
                        </core-tooltip>
                      </div>
                    </div>
                    <div class="collaborators">
                      <div class="drawer-title">Active Collaborators</div>
                      <div class="collaborator-container">
                        <template repeat="{{ collaborator in collaborators }}">
                          <collaborator-element collaborator="{{ collaborator }}"></collaborator-element>
                        </template>
                      </div>
                    </div>
                    <div class="events">
                      <div class="drawer-title">Events</div>
                      <div class="events-container">
                        <template repeat="{{event in eventsList}}">
                          <event-card event="{{event}}"></event-card>
                        </template>
                      </div>
                    </div>
                  </div>
                </section>
              </core-animated-pages>
            </div>
          <div main class="main">
            <div class="blue-bg">
              <div class="doc-title">
                {{ documentTitle }}
              </div>
            </div>
            <core-animated-pages id="main" selected="{{ page }}" transitions="cross-fade list-cascade" on-core-animated-pages-transition-end="{{complete}}">
              <section></section>
              <section>
                <div class="container" list-cascade>

                  <!-- Introduction -->
                  <demo-card id="intro"
                    title="Getting Started"
                    color="blue"
                    description="Google Drive collaborative documents are made of 4 types of collaborative elements: String, Lists, Maps and Custom objects. A Google Drive collaborative document can have as many of these collaborative elements as they need. As a demonstration, You will find below UI widgets representing collaborative elements of each type.">
                  </demo-card>
                  <!-- Collaborative String Demo -->
                  <demo-card id="string"
                    title="Collaborative String"
                    color="red"
                    codeView="true"
                    description="Collaborative strings are just like normal strings, except that all browser sessions will be notified and updated when the string changes. Events are fired when strings are inserted to the collaborative string or when part of the string is deleted.">
                      <paper-input id="stringInput" value="{{ collaborativeString }}" on-keyup="{{ onCollaborativeStringKeyup }}" label="type something..."></paper-input>
                  </demo-card>

                  <!-- Collaborative List Demo -->
                  <demo-card id="list"
                    title="Collaborative List"
                    color="purple"
                    codeView="true"
                    description="A collaborative list state is shared across sessions. Events are fired when items are added or removed to the list or when an existig item's value is set.">
                    <div class="left">
                      <div class="list-title">List Items</div>
                      <paper-radio-group id="listDemoGroup" selected="{{ selectedItem }}" on-change="{{ onRadioChange }}">
                        <template repeat="{{ listItem in collaborativeList }}">
                          <paper-radio-button name="{{ listItem }}" label="{{ listItem }}"></paper-radio-button>
                        </template>
                      </paper-radio-group>
                    </div>
                    <div class="right">
                      <table>
                        <tr>
                          <td><paper-button raised on-click="{{ onRemoveListItemClick }}" disabled?="{{ !selectedItem }}">Remove Selected Item</paper-button></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onAddListItemClick }}" disabled?="{{ addItemValue.length == 0 }}">Add Item</paper-button></td>
                          <td><paper-input id="addListItemInput" label="item name..." inputValue="{{ addItemValue }}"></paper-input></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onClearListClick }}" disabled?="{{ collaborativeList.length == 0 }}">Clear List</paper-button></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onSetListItemClick }}" disabled?="{{ setItemValue.length == 0 }}">Set Selected Item</paper-button></td>
                          <td><paper-input id="setListItemInput" label="item name..." inputValue="{{ setItemValue }}"></paper-input></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onMoveListItemClick }}" disabled?="{{ moveItemValue.length == 0 }}">Move Item To Index</paper-button></td>
                          <td><paper-input id="moveListItemInput" label="new index..." inputValue="{{ moveItemValue }}"></paper-input></td>
                        </tr>
                      </table>
                    </div>
                  </demo-card>

                  <!-- Collaborative Map Demo -->
                  <demo-card id="map"
                    title="Collaborative Map"
                    color="green"
                    codeView="true"
                    description="Collaborative maps share key/value state across sessions. They support standard map operations. Events are fired when key-value pairs are changed.">
                    <div class="left">
                      <table class="map-display">
                        <thead>
                          <tr>
                            <th>Keys</th>
                            <th>Values</th>
                          </tr>
                        </thead>
                        <tbody>
                          <template repeat="{{ mapItem in collaborativeMap }}">
                            <tr id="mapItem-{{ mapItem.key }}" class="{{ mapItem.key == selectedMapItemKey ? 'active' : '' }}" on-click="{{ onMapItemClick }}">
                              <td class="mapKey">{{ mapItem.key }}</td>
                              <td class="mapValue">{{ mapItem.value }}</td>
                            </tr>
                          </template>
                        </tbody>
                      </table>
                    </div>
                    <div class="right">
                      <table>
                        <tr>
                          <td><paper-button raised on-click="{{ onRemoveMapItemClick }}" disabled?="{{ !selectedMapItemKey }}">Remove Selected Item</paper-button></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onClearMapClick }}" disabled?="{{ collaborativeMap.length == 0 }}">Clear List</paper-button></td>
                        </tr>
                        <tr>
                          <td><paper-button raised on-click="{{ onAddMapItemClick }}" disabled?="{{ !addMapKeyValue.length && !addMapValue.length }}">Add Pair</paper-button></td>
                          <td><paper-input id="addMapKeyInput" inputValue="{{ addMapKeyValue }}" label="key..."></paper-input></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><paper-input id="addMapValueInput" inputValue="{{ addMapValue }}" label="value..."></paper-input></td>
                        </tr>
                      </table>
                    </div>
                  </demo-card>

                  <!-- Custom Object Demo -->
                  <demo-card id="custom"
                    title="Custom Objects"
                    color="yellow"
                    codeView="true"
                    description="Collaborative custom object have properties who's state is shared across sessions. Events are fired when property values are changed.">
                    <table>
                      <thead>
                        <tr>
                          <th>Properties</th>
                          <th>Values</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Name</td>
                          <td><paper-input id="customNameInput" on-keyup="{{ onNameKeyup }}" label="name..." value="{{ name }}"></paper-input></td>
                        </tr>
                        <tr>
                          <td>Director</td>
                          <td><paper-input id="customDirectorInput" on-keyup="{{ onDirectorKeyup }}" label="director..." value="{{ director }}"></paper-input></td>
                        </tr>
                        <tr>
                          <td>Notes</td>
                          <td><paper-input id="customNotesInput" on-keyup="{{ onNotesKeyup }}" label="notes..." value="{{ notes }}"></paper-input></td>
                        </tr>
                        <tr>
                          <td>Rating</td>
                          <td><paper-input id="customRatingInput" on-keyup="{{ onRatingKeyup }}" label="rating..." value="{{ rating }}"></paper-input></td>
                        </tr>
                      </tbody>
                    </table>
                  </demo-card>
                </div>
              </section>
            </core-animated-pages>
          </div>
        </core-drawer-panel>
      </section>
    </core-animated-pages>
  </template>
  <script src="realtime-demos.js"></script>
</polymer-element>
