<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes" />
    <meta charset="utf-8" />
    <meta name="description"
      content="The Google Drive Realtime API Playground allows you to experiment with the Google Drive Realtime API." />
    <meta name="keywords"
      content="OAuth, Google, realtime, POST, GET, PUT, token, client id, Javascript, operational, transforms" />
    <title>Google Realtime Playground</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" />

    <!-- JS -->
    <script src="components/platform/platform.js"></script>
    <script src="//www.google.com/jsapi"></script>
    <script src="//apis.google.com/js/api.js"></script>
    <script src="vendor/realtime-client-utils.js"></script>
    <script src="vendor/highlight.js"></script>

    <!-- Components -->
    <link rel="import" href="components/font-roboto/roboto.html" />
    <link rel="import" href="components/elements/playground-app.html" />

  </head>
  <body unresolved>
    <playground-app></playground-app>
  </body>
</html>
